// Specific CSS for your home-page
.lend-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
  url("https://res.cloudinary.com/benstvit/image/upload/v1646137520/background_goodterms_jpmg8n.jpg");
  background-size: contain;
  object-fit: cover;
  height: 100vh;
  width: 50%;
}

.borrow-container {
  // background-color: $green;
  height: 100vh;
  width: 50%;
  h1 {
    background-clip: text;

  }
}

.home-loans-container {
  margin: 15px 10px;
}

.home-container {
  position: relative;
}
.introduction {
  top: 657px;
  height: 100%;
  display: flex;
  margin-top: -174px;
  flex-direction: column;
  margin-bottom: 80px;
  p {
    font-size: 20px;
  }
}

.step1 {
  text-align: left;
  padding: 20px;
  padding-left: 100px;
  z-index: 1;
  p {
    color: white;
    text-align: center!important;
    margin-left: 40vh;
    padding-left: 20px;

  }
}

.step2 {
  text-align: right;
  padding: 20px;
  padding-right: 100px;
  p {
    color: white;
    text-align: center!important;
    margin-right: 40vh;
    padding-right: 20px;
  }
}
