// Specific CSS for your home-page
html {
  scroll-behavior: smooth;
}
.lend-container {
  // z-index: -1;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
  url("https://res.cloudinary.com/benstvit/image/upload/v1646137520/background_goodterms_jpmg8n.jpg");
  background-size: contain;
  object-fit: cover;
  height: 100vh;
  width: 50%;
}

.borrow-container {
  height: 100vh;
  width: 50%;
  h1 {
    background-clip: text;
  }
}

.home-loans-container {
  margin: 15px 10px;
}

.home-container {
  position: relative;
}

.introduction{
  position: absolute;
  margin: -135px 100px 1000px;
  display: block;

  .introduction-step-1{
    padding: 0px;
    height: 250px;

    .odd-number{

      text-align: left;
    }
    .odd-text{
      text-align: right;
      font-size: 30px;
      color: white;
      position: relative;
      top: -116px;
      left: 272px;
      width: 750px;
    }

  }
  .introduction-step-2{
    height: 250px;
    .even-number{
      text-align: right;
      margin: 0 -500px 0 0;
    }
    .even-text{
      text-align: left;
      font-size: 30px;
      color: white;
      position: relative;
      top: -116px;
      left: 190px;
      width: 750px;
    }

  }
  .introduction-step-3{
    height: 250px;
    position: relative;

    .odd-number{
      text-align: left;
      margin-bottom: 16px;
    }
    .odd-text{
      text-align: right;
      font-size: 30px;
      color: white;
      position: relative;
      top: -116px;
      left: 272px;
      width: 750px;
    }

  }
}

#friends {
  background: linear-gradient(13deg, rgba(82,182,154,0.7) 50%, rgba(255,255,255,1) 50%);
}

#map {
  background: rgb(255,255,255);
  background: linear-gradient(128deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
  p {
    color: black!important;
    padding: 20px;
  }
}
