// Specific CSS for your home-page
.lend-container {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2)),
  url("https://res.cloudinary.com/benstvit/image/upload/v1646137520/background_goodterms_jpmg8n.jpg");
  background-size: contain;
  object-fit: cover;
  height: 100vh;
  width: 50%;
}

.borrow-container {
  background-color: $green;
  height: 100vh;
  width: 50%;
}

.home-loans-container {
  margin: 15px 10px;
}

.home-container {
  position: relative;
}
.introduction {
  position: absolute;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.step1 {

}

.step2 {

}
