.user-show-container {
  margin-top: 80px;
  padding: 15px;
  width: 100%;
  margin: 80px auto;
  text-align: center;
  height: 100%;
  h1 {
    font-size: 60px!important;
  }
  li {
    color: black;
  }
}


.loan-index {

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}
