<% if params[:controller] == 'pages' && params[:action] == 'home'%>
  <div class="footer">
<% else %>
  <div class="footer-white">
<% end %>
    <div class="footer-copyright">
      This web app was brought to you with <i class="fas fa-heart"></i> by the Good Terms. team.
    </div>
  </div>
