<div class="dashboard-container">
  <div class="loan-index">
    <% lendings = user_lendings(current_user) %>
    <% count = 0 %>
    <% lendings.each do |loan| %>
      <% unless loan.status == 'returned' %>
      <% count += 1 %>
        <% if count % 2 == 0  %>
          <div class="card-even-lending">
            <%= render '/shared/card_lending', loan: loan %>
          </div>
        <% else %>
          <div class="card-odd-lending">
            <%= render '/shared/card_lending', loan: loan %>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <% borrowings = user_borrowings(current_user) %>
    <% borrowings.each do |loan| %>
      <% unless loan.status == 'returned' %>
      <% count += 1 %>
        <% if count % 2 == 0 %>
          <div class="card-even-borrowing">
            <%= render '/shared/card_borrowing', loan: loan %>
          </div>
        <% else %>
          <div class="card-odd-borrowing">
            <%= render '/shared/card_borrowing', loan: loan %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
