
<div class="dashboard-container">
  <div class="cards-list">
    <% users.each do |user| %>
    <div class="card 1">
      <div class="card_image"> <%= cl_image_tag (current_user.photo.key) %>
      <div class="card_title title-white">
          <p><%= user.first_name %></p>
          <p><%= user.last_name %></p>
          <p><%= user.location %></p>
      </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
