<div class="introduction mb-3">
  <div class="introduction-step-1">
    <div class="odd-number"><h1>01.</h1></div>
    <div class="odd-text">
      <p>You are re the borrowing type? Great, you'll remember who you have borrowed from by clicking on the 'Borrow' button. More of a lender? Easy peasy, just click 'Lend an item'</p>
    </div>
  </div>
  <div class="introduction-step-2">
    <div class="even-number"><h1>02.</h1></div>
    <div class="even-text">
      <p>Let us know who you're borrowing from or lending to and in a few clicks, your item will be displayed on your main page</p>
    </div>
  </div>
  <div class="introduction-step-3">
    <div class="odd-number"><h1>03.</h1></div>
    <div class="odd-text">
      <p>You have returned what you borrowed? Wait for your kind lender to confirm by sending him a quick ping. And voilà !</p>
    </div>
  </div>
</div>
