<% @loans.each do |loan| %>
  <% if loan.user == current_user %>
    <p>You have a new Loan request from <%= loan.user.first_name %></p>
    <p><%= link_to "Accept", loan_mark_path(loan), method: :patch, class: 'submit-btns'%></p>
  <% else %>
    <p>No request</p>
  <% end %>
<% end %>
