<h3><%= link_to user.first_name, user_path(user) %></h3>
<div class="mapboxgl-popup mapboxgl-popup-content">
    <% @loans.each do |loan| %>
      <% if user == loan.user && loan.item.user == current_user && loan.status == 'accepted' %>
        <p><%= loan.item.item_name %></p>
        <% end %>
      <% end %>
</div>
