  <%= render 'shared/navbar' %>
<div class="home-container d-flex justify-content-center">
    <div class="lend-container d-flex justify-content-end align-items-center">
      <h1>Good </h1>
          <%= link_to "Lend an item", new_item_path, class:'borrow-btn' %>
  </div>
    <div class="borrow-container d-flex justify-content-start align-items-center">
      <h1> Terms.</h1>
        <%= link_to "Lend an item", new_item_path, class:'borrow-btn' %>
    </div>

</div>
