<h2><%= 'Your loans' %></h2>
<% if @loans.count == 0 %>
  <%= link_to 'create a new loan', new_loan_path %>
<% else %>
  <ul><% @loans.each do |loan| %>
    <li><%= link_to loan.item.item_name, loan_path(loan) %></li>
  <% end %></ul>
<% end %>
