<h2>Your Item:</h2>

<%= cl_image_tag @item.photo.key, height: 300, width: 400, crop: :fill %>
<%= @item.item_name %>
<%= @item.description %>

<%= link_to "Delete #{@item.item_name}",
            item_path(@item),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
