.borrow-btns {
  border-radius: 61px;
  border: 1px white solid;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px 30px;
  background-color: rgba($color: white, $alpha: 0.8);
  text-transform: uppercase;
}


.borrow-btns:hover {
  color: rgba($color: #000000, $alpha: 0.8)!important;
  background-color: rgba($color: $borrowing, $alpha: 0.95);
  // background-color: rgba($color: #ffffff, $alpha: 0.7)
}


.borrow-active {
  border-radius: 61px;
  border: 1px rgb(0, 0, 0) solid;
  color: rgb(0, 0, 0)!important;
  text-decoration: none;
  padding: 20px 30px;
  // background-color: rgba($color: white, $alpha: 0);
  text-transform: uppercase;
}

.lend-btns {
  border: 1px rgba(0, 0, 0, 0.5) solid;
  border-radius: 61px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
  background-color: rgba($color: white, $alpha: 0.8);

}

.lend-btns:hover {
  color: rgba($color: #000000, $alpha: 0.8)!important;
  background-color: rgba($color: $lending, $alpha: 0.95);
  // background-color: rgba($color: #ffffff, $alpha: 0.9)!important;
}

.hidden {
  border: 1px rgba(0, 0, 0, 0) solid;
  border-radius: 61px;
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
  color: transparent;
}

.lend-active {
  // background-color: rgba($color: white, $alpha: 0.9);
  border: 1px rgba(0, 0, 0, 1) solid;
  border-radius: 61px;
  color: rgb(0, 0, 0)!important;
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
}

.lend-active:hover {
  background-color: rgba($color: $lending, $alpha: 0.8);
  border: 1px rgba(0, 0, 0, 1) solid;
  border-radius: 61px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
}

.borrow-active:hover {
  background-color: rgba($color: $borrowing, $alpha: 0.8);
  border: 1px rgba(0, 0, 0, 1) solid;
  border-radius: 61px;
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 20px 30px;
  text-transform: uppercase;
}

.submit-btns {
    background-color: #184E77;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    text-transform: uppercase;
    margin-bottom: 10px;
  .submit-btns:hover {
    color: rgba($color: #000000, $alpha: 0.8)!important;
  }
}

.submit-txt {
  border-radius: 3px;
  color: #184E77;
  text-decoration: none;
.submit-txt:hover {
  color: rgba($color: #000000, $alpha: 0.8)!important;
}
}

.return-btn {
  border: none;
  text-decoration: none;
  border-radius: 50%;
  background-color: transparent;
}

.return-btn:hover{
  transform: scale(1.5, 1.5);
}

.accept-btn {
  // left: 90px;
  // position: absolute;
  border-radius: 25px;
  margin: 3px;
  padding: 8px 15px;
  background-color: rgba($color: white, $alpha: 0.8);
  border: 1px solid rgba(0, 0, 0, 0.7);
  z-index: 10;
  &:hover {
    transform: scale(1.1, 1.1)!important;
  }
}
