.loan-index{
  display: flex;
  justify-content: center!important;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px;
  padding: 20px;

  .card-odd-lending{
    display: block;
    height: 640px;
    width: 360px;
    margin:120px 0 20px;
    border-radius: 5px;
    background-color: $lending;
    position: relative;
    .card-lending{
      .loan-card-image{
        height: 330px;
        border-radius: 5px;
        img{
          border-radius: 5px;
          object-fit: cover;
          overflow: hidden;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          clip-path: polygon(0 0, 252% 0, 119% 103%, 0 80%);
        }
      }
      .loan-card-item-info{
        color: black;
        font-size: 28px;
        text-align: left;
        padding-left: 20px;
      }

      .loan-card-item-info-actions{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        opacity: 0%;
        font-size: 28px;
        border-radius: 5px;
        &:hover{
          background-color: rgba(0, 0, 0, 0.33);
          opacity: 100%;
          }
        }
      }
    }
  .card-even-lending{
    display: block;
    height: 640px;
    width: 360px;
    margin:20px 0 20px;
    border-radius: 5px;
    background-color: $lending;
    position: relative;
    .card-lending{
      .loan-card-image{
        height: 330px;
        border-radius: 5px;
        img{
          border-radius: 5px;
          object-fit: cover;
          overflow: hidden;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          clip-path: polygon(0 0, 252% 0, 119% 103%, 0 80%);
        }
      }
      .loan-card-item-info{
        color: black;
        font-size: 28px;
        text-align: left;
        padding-left: 20px;
      }

    .loan-card-item-info-actions{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      align-items: flex-start;
      opacity: 0%;
      font-size: 28px;
      border-radius: 5px;
      &:hover{
        background-color: rgba(0, 0, 0, 0.33);
        opacity: 100%;
        }
      }
    }
  }

  .card-odd-borrowing{
    display: block;
    height: 640px;
    width: 360px;
    margin:120px 0 20px;
    border-radius: 5px;
    background-color: $borrowing;
    position: relative;
    .card-borrowing{
      .loan-card-image{
        height: 330px;
        border-radius: 5px;
        img{
          border-radius: 5px;
          object-fit: cover;
          overflow: hidden;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          clip-path: polygon(0 0, 252% 0, 119% 103%, 0 80%);
        }
      }
      .loan-card-item-info{
        color: black;
        font-size: 28px;
        text-align: left;
        padding-left: 20px;
      }

      .loan-card-item-info-actions{
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        align-items: flex-start;
        opacity: 0%;
        font-size: 28px;
        border-radius: 5px;
        &:hover{
          background-color: rgba(0, 0, 0, 0.33);
          opacity: 100%;
          }
        }
      }
    }
  .card-even-borrowing{
    display: block;
    height: 640px;
    width: 360px;
    margin:20px 0 20px;
    border-radius: 5px;
    background-color: $borrowing;
    position: relative;
    .card-borrowing{
      .loan-card-image{
        height: 330px;
        border-radius: 5px;
        img{
          border-radius: 5px;
          object-fit: cover;
          overflow: hidden;
          height: 100%;
          width: 100%;
          display: flex;
          justify-content: center;
          clip-path: polygon(0 0, 252% 0, 119% 103%, 0 80%);
        }
      }
      .loan-card-item-info{
        color: black;
        font-size: 28px;
        text-align: left;
        padding-left: 20px;
      }

    .loan-card-item-info-actions{
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      align-items: flex-start;
      opacity: 0%;
      font-size: 28px;
      border-radius: 5px;
      &:hover{
        background-color: rgba(0, 0, 0, 0.33);
        opacity: 100%;
        }
      }
    }
  }
}
