@media screen and (max-width: 500px) {
  .mobile-none {
    display: none;
  }
  .loans-user{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0 auto;

    a{
      text-decoration: none;
    }
  }
  .loans-per-user{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    p {
      color: white;
      text-decoration: none
    };

    .user-card{
      margin: 5px;
      padding: 5px;
      width: 150px;
      height: 150px;
      border-radius: 10px;
      border: 5px white solid;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      box-shadow: 1px 2px 15px -1px rgba(0,0,0,0.8);
      .rating {
        color: white;
        font-size: 15px;
        text-decoration: none;
      }

      .lent{
        margin: 5px;
        height: 26px;
        width: 88px;
        border-radius: 15px;
        background-color: #95d5b2;
        p{
          color: white;
          font-size: 15px;
          text-decoration: none;
        }
      }
      .borrowed{
        margin: 5px;
        height: 24px;
        width: 69px;
        border-radius: 15px;
        background-color: $borrowing;
        p{
          color: white;
          // border-radius: 0 50px 50px 0;
          font-size: 15px;
          text-decoration: none;
        }
      }
      .user-name{
        overflow: hidden;
        p{
          color: white;
          font-size: 20px;
          // padding: 20px;
          text-decoration: none;
        }
      }
      .rating {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 500px) {
.loans-user{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100vh;
  margin: 0 auto;
  padding: 40px;

  a{
    text-decoration: none;
  }

  .loans-per-user{
    p {
      color: white;
    };

    .user-card{
      margin: 20px;
      width: 300px;
      height: 300px;
      border-radius: 10px;
      border: 5px white solid;
      .rating {
        color: white;
        font-size: 18px;
      }

      .lent{
        padding: 40px 150px 0 0;
        p{
          color: white;
          background-color: $borrowing;
          border-radius: 0 50px 50px 0;
          font-size: 20px
        }
      }
      .borrowed{
        padding: 0 150px 0 0;
        p{
          color: white;
          background-color: $lending;
          border-radius: 0 50px 50px 0;
          font-size: 20px
        }
      }
      .user-name{
        p{
          color: white;
          font-size: 40px;
          padding: 20px;
        }
      }


    }
  }
}
}

.user-card:hover {
    transform: scale(0.98, 0.98);
    box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.20), -5px -5px 30px 15px rgba(0,0,0,0.15);
  }
