.loan-index{
  display: flex;
  justify-content: center;
  align-items: center;
  // flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  height: 100%;
  margin: 20px 20px 20px;
  padding: 20px;

  .card-odd{
    display: block;
    height: 600px;
    width: 360px;
    margin:0 0 50px;
    border-radius: 5px;
  }
  .card-even{
    display: block;
    height: 600px;
    width: 360px;
    margin:120px 0 50px;
    border-radius: 5px;
  }

  .loan-card-image{
    height: 330px;
    border-radius: 5px;
    img{
      border-radius: 5px;
      overflow: hidden;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      clip-path: polygon(0 0, 252% 0, 119% 103%, 0 80%);
    }
  }
  .loan-card-item-info-actions{
    font-size: 30px;
    padding: 0 0 30px;
  }

  .card-lending{
    // border: solid 20px #465c9c7e;
    background-color: rgba(255,93,143,0.5);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
   }
  .card-borrowing{
    background-color: rgba(219,231,228,0.5);
    border-radius: 5px;
    // border: solid 20px #f5d64e7e;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    // position: relative;
  }

}
