.cards-list {
  z-index: 0;
  margin-top: 150px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

// Le wagon cards

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}

.card-product:hover {
  transform: scale(0.98, 0.98);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.20),
    -5px -5px 30px 15px rgba(0,0,0,0.15);
}

.card-product .img {
  height: 100%;
  // width: 30%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  // margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}

.user-cards {
  background-color: white;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 40px 30px;
  margin: 20px;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  a {
    text-decoration: none;
    color: inherit;
  }
}
