.form-container {
  padding: 15px;
  width: 50%;
  margin: 80px auto;
  text-align: left;
}

@media only screen and (max-width: 450px) {
  .form-container {
    width: 100%;
    margin: 0px;
    text-align: center;
  }
}
