.map {
  height: 100vh;
  border-top: solid;
  border-color: grey;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  ul {
    list-style: none;
    padding: 0px !important;
  }
  li {
    font-family: "Oswald", sans-serif !important;
    padding: 0px !important;
  }
}
