.navbar-lewagon {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: space-between;
  background-color: rgba($color: $green, $alpha: 0);
    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-txt {
  color: rgba($color: #fafafa, $alpha: 1)!important;
  font-weight: bolder;
  padding: 10px;
}

.navbar-txt:hover {
  color: rgba($color: #000000, $alpha: 0.8)!important;
}

.active {
  text-decoration: overline;
}
