@import 'flatpickr';
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "items/new";

.mid-container {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 20px;
}

body {
  background: rgb(255,255,255);
  background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(69,152,129,1) 0%, rgba(129,217,193,1) 100%);
  }
