@import 'flatpickr';
// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "items/new";

.mid-container {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.1));
  height: 100vh;
}

body {
  background: rgb(255,255,255);
background: linear-gradient(270deg, rgba(255,255,255,1) 0%, rgba(82,182,154,1) 0%, rgba(130,222,197,1) 100%);
  }
