  <div class="review-container">

    <div class="form-container text-center">
    <h2>Leave a review:</h2>
    <%= simple_form_for [ @loan, @review ] do |f| %>
      <p>Was you item retuned in a good condition?</p>
      <select name="condition" id="condition">
       <option value="Yes">Yes</option>
        <option value="No">No</option>
      </select>
    <p>Was you item retuned on time?</p>
      <select name="time" id="time">
      <option value="Yes">Yes</option>
      <option value="No">No</option>
      </select>
      <%= f.input :comment %>
      <%= f.submit class:'btn submit-btns text-center' %>
    <% end %>
  </div>
</div>
